@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --accent: #06b6d4;
  --accent-2: #06d6a0;
}
body { font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
